.content {
  display: grid;
  grid-template-rows: fit-content(400px) fit-content(800px) fit-content(400px);
}

.main-body {
  display: grid;
  grid-template-rows: fit-content(100px) fit-content(200px);
  justify-content: stretch;
  align-content: center;
}

.projectList {
  width: 80%;
  justify-self: center;
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  justify-items: center;
  align-items: center;
}

.project {
  border: 1px solid red;
  width: 250px;
  height: 280px;
}

.profileImg img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  background-position: top;
}
